<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="VetClinicEntities" connectionString="metadata=res://*/VetClinic.csdl|res://*/VetClinic.ssdl|res://*/VetClinic.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NIGHTFOX\NIGHTFOX;initial catalog=VetClinic;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>